In [1]:
marr_age_sf=[33,34,35,36,35,28,30,31,37,36,40,24,34,28,32,33,31,35]

# Marriage as on 2018 in San f, is 35
### NULL Hypothesis , H0= Marriage age of people in sanf is 35
### Alternate Hypothesis , Ha= Marriage age of people in sanf is not 35

### P value,probability value means the chance of data equals to 35 years of marriage age
### P=10%,this means that 10% of the data collected is near or equal the 35 marriage age
### if i can prove that P<5%, means less than 5% of people actual fall under 35 years of marriage group , I can reject null hypothesis,which means i accept alternate hypothesis i.e. marriage age is not 35

### ONE SAMPLE- T TEST

### compare one sample distribution to a hypotheisised mean(35 marriage age)

In [2]:
from scipy import stats

In [7]:
stats.skew(marr_age_sf)

-0.49994867572304824

In [8]:
stats.kurtosis(marr_age_sf)

0.1508392493353674

In [3]:
stats.ttest_1samp(marr_age_sf,35)

Ttest_1sampResult(statistic=-2.355594318453075, pvalue=0.030761961739747667)

### P-value=0.032, 3.2% this is less than 5% , so we can reject null hypothesis
### Accept ,Ha ,Marriage age in San F is not 35

In [4]:
marr_age_sf

[33, 34, 35, 36, 35, 28, 30, 31, 37, 36, 40, 24, 34, 28, 32, 33, 31, 35]

In [5]:
stats.ttest_1samp(marr_age_sf,33)

Ttest_1sampResult(statistic=-0.12397864833963886, pvalue=0.90278628831104568)

# cannot reject 33 , 
## as the actual marriage age

# Two Sample Independent T-test

one data has no influence on other data

In [9]:
marr_age_sf

[33, 34, 35, 36, 35, 28, 30, 31, 37, 36, 40, 24, 34, 28, 32, 33, 31, 35]

In [16]:
marr_age_Banglore=[28,29,31,32,28,29,38,32,34,24,23,35,27,26,25,30,31,33]

In [17]:
stats.skew(marr_age_Banglore) #-1.96 < S < +1.96

0.17094896014639496

In [18]:
stats.kurtosis(marr_age_Banglore)

-0.5225284007935187

### H0, H null=Marriage age of people San F is same as Marriage age of people in banglore
### Ha=Marriage age of people San F is not same as Marriage age of people in banglore

In [19]:
stats.ttest_ind(marr_age_sf,marr_age_Banglore)

Ttest_indResult(statistic=2.4447802654794248, pvalue=0.019830320257003951)

### p value = 1.9% which is < 5% , This means we can reject null hypothesis and accept alternate hypothesis , Ha

# Paired T Test,Relational T-Test

### study effect of RED BULL on Responsiveness(reflex test)
same set of people has given the test thats why it is called relational

In [21]:
before_redbull=[68,45,46,34,23,67,80,120,34,54,68] # in secs
after_redbull=[28,25,26,24,13,27,30,30,54,34,38]

#### H null,H0=Response time of people before and after Red bull is same , Red Bull has no effect
#### Ha=Response time of people before and after Red bull is same , Red Bull has  effect

In [22]:
stats.ttest_rel(before_redbull,after_redbull)

Ttest_relResult(statistic=3.3545383289609894, pvalue=0.0073092435919567206)

### P value is equal to 0.7% this means we can reject Ho,H null

### Accept Ha , means red bull has effect